<div class="container mt-4">
    <div class="row">
        <div class="card p-0">
            <div class="card-tittle bg-dark text-white p-1">
                <h3>list-employees</h3>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary btn-lg float-end" routerLink="/create-employee">agregar</button>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">nombre</th>
                            <th scope="col">apellido</th>
                            <th scope="col">documento</th>
                            <th scope="col">salario</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>menco</td>
                            <td>bartolomeo</td>
                            <td>124456703</td>
                            <td>1500</td>
                            <td><a class="btn btn-success">editar</a>
                            &nbsp;<a href="" class="btn btn-danger">eliminar</a></td>
                          </tr>
                          
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
