<div class="container mt-5">
    <div class="row">
        <div class="card p-0">
            <div class="card-tittle bg-dark text-white p-1">
                <h3>crear empleado</h3>
            </div>
            <div class="card-body">
                <div class="col-lg-6 offset-3">
                    <form action="">
                        <div class="mb-3">
                            <input type="text" name="nombre" id="nombre" class="formcontrol formcontrol-lg" placeholder="ingrese el nombre">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="apellido" id="apellido" class="formcontrol formcontrol-lg" placeholder="ingrese el apellido">
                        </div>
                        <div class="mb-3">
                            <input type="number" name="documento" id="documento" class="formcontrol formcontrol-lg" placeholder="ingrese el documento">
                        </div>
                        <div class="mb-3">
                            <input type="number" name="salario" id="salario" class="formcontrol formcontrol-lg" placeholder="ingrese el salario">
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-secondary float-start" routerLink="/list-employees">volver</button>
                            <button type="submit" class="btn btn-primary float-end">guardar</button>
                        </div>
                    </form>
                </div>
            </div>